.issuesGridItemNew
  .issuesGridItemNew__name Memory Impairment
  .issuesGridItemNew__icon
    img.issuesGridItemNew__open(src="./assets/images/plus.svg")
    img.issuesGridItemNew__close(src="./assets/images/minus.svg")
  .issuesGridItemNew__text
    h2 What will become of all the memories?
    br
    p When memory impairment starts affecting ones daily lifestyle, therapy may be the answer. Our speech therapists can help improve memory retention with a variety of skilled techniques and strategies.
