.issuesGridItemNew
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  padding: 16px 32px
  border-radius: 29px
  background-color: $green
  margin: 0 10px 35px
  flex: 0 1 calc(100% / 3 - 20px)
  opacity: 0
  transform: translateY(25%)
  transition: opacity 1s ease-in, transform 1s ease-out, background-color 0.25s linear
  cursor: pointer

  &.visible
    opacity: 1
    transform: none

  &.-open
    background-color: $dark-green
    .issuesGridItemNew__open
      display: none
    .issuesGridItemNew__close
      display: block
    .issuesGridItemNew__name
      color: $green

  +max($bp-sm)
    margin: 0 0 19px
    width: 100%
    max-width: 328px

  &__name
    color: $white
    font-size: 21px
    font-weight: 900
    line-height: 1.18
    margin-right: 8px

  &__icon
    display: flex
    justify-content: center
    align-items: center
    max-width: 21px

    +max($bp-sm)
      max-width: 19px

  &__open
    display: block
    width: 100%

  &__close
    display: none
    width: 100%

  &__text
    display: none
    position: absolute
    top: 100%
    left: 0
    z-index: 1
    padding: 40px 28px
    width: 100%
    max-width: 100%
    background-color: $white
    box-shadow: 0px 45px 35px -20px rgba(0, 0, 0, 0.25)
    border-radius: 29px
    cursor: default
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.6

    +max($bp-sm)
      padding: 36px 30px 50px

    &::before
      content: ''
      width: 30px
      height: 30px
      transform: rotate(45deg)
      background-color: $white
      position: absolute
      top: -2px
      right: 27px

    h1, h2, h3, h4, h5, h6
      font-weight: 900

