@charset "UTF-8"

//- WEBSITE FONTS
//==========================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


=font-roboto
  font-family: "Roboto", sans-serif


body
  +font-roboto
  +rem(font-size, 10px)

  font-weight: 400
  line-height: 1.2
