.header
  padding: 78px 0px 88px 0px
  background-color: $white

  +max($bp-lg)
    padding: 44px 0px 32px 0px

  +max($bp-sm)
    box-shadow: 0px 50px 50px -46px rgba(0, 0, 0, 0.25)

  &__logo
    max-width: 184px
    +max($bp-sm)
      max-width: 96px

  &__container
    +container
    display: flex
    justify-content: space-between
    align-items: center
