.buttonSection
  .buttonSection__container
    .buttonSection__title See some of the common issues we treat.
    button.customButton Learn More
  .buttonSection__decorator
    img(src="./assets/images/decorator-dashes-green.svg")
