.buttonSection
  padding: 81px 0 76px
  background-color: $concrete
  margin-bottom: 193px
  position: relative

  +max($bp-sm)
    padding: 42px 0 35px
    margin-bottom: 83px

  &__container
    +container
    display: flex
    justify-content: center
    align-items: center
    +max($bp-sm)
      flex-direction: column

  &__title
    color: $dark-green
    font-size: 22px
    font-weight: 900
    line-height: 1.17
    margin-right: 59px
    text-align: center
    opacity: 0
    transform: translateX(-100%)
    transition: opacity 1s ease-in, transform 1s ease-out
    &.visible
      opacity: 1
      transform: none
    +max($bp-sm)
      margin-right: 0
      margin-bottom: 12px

  .customButton
    opacity: 0
    transform: translateX(100%)
    transition: opacity 1s ease-in, transform 1s ease-out
    &.visible
      opacity: 1
      transform: none

  &__decorator
    display: flex
    justify-content: center
    align-items: center
    max-width: 47px
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
    +max($bp-sm)
      display: none

    img
      display: block
      width: 100%
