.narrowText
  .narrowText__container 
    .narrowText__mobile 
      img.narrowText__image(src="assets/images/grandma-m.png" alt="")
      .narrowText__title.-mobile Grandma 
        br
        | Gutcheck 
        span TM
    .narrowText__left
      img.narrowText__square(src="assets/images/decorator-banner-square.svg" alt="")
      .narrowText__title.-desktop Grandma Gutcheck 
        span TM
      .narrowText__text After three rounds of interviews, a thorough background check, verification of credentials, and all the standard stuff. We ask ourselves one last question, “would we want this therapist treating our grandma, nana, bubby, abuela or not?” We’re proud to say that each and every one of the 170+ therapists in our organization is someone we’d love to have care for our own. 
    .narrowText__right
      img.narrowText__photo(src="assets/images/grandma.png" alt="")
      img.narrowText__square(src="assets/images/decorator-banner-square.svg" alt="")
    .narrowText__backToTop
      img(src="./assets/images/backToTop.svg")
      .narrowText__backText Back to top