.narrowText
  display: block
  width: 100%
  position: relative
  padding: 233px 0px 261px 0

  +max($bp-sm)
    padding: 0px 0px 90px 0

  &__container
    +container
    background-color: $green
    display: grid
    position: relative
    grid-template-columns: 1fr 1fr
    gap: 118px
    padding-top: 86px
    box-shadow: 0px 50px 50px -44px rgba(0, 0, 0, 0.25)

    +max($bp-lg)
      gap: 60px

    +max($bp-sm)
      display: block
      padding: 0
      background: transparent
      box-shadow: none

  &__title
    display: block
    font-size: 53px
    line-height: 1.17
    font-weight: 900
    padding-bottom: 12px
    color: $white
    position: relative
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      color: $dark-green
      font-size: 22px
      margin: 0

      &.-desktop
        display: none

      &.-mobile
        position: absolute
        top: 50%
        left: 40px
        max-width: 120px
        transform: translateY(-50%) scale(0)
        transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

        &.visible
          transform: translateY(-50%) scale(1)

    span
      font-size: 24px
      font-weight: 900
      vertical-align: super

      +max($bp-sm)
        font-size: 10px

  &__text
    display: block
    font-size: 16px
    font-weight: 1.2
    color: $dark-green
    font-weight: 500
    padding-bottom: 30px
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

    +max($bp-sm)
      padding-bottom: 0

  &__mobile
    display: none
    position: relative

    +max($bp-sm)
      display: block
      max-height: max-content
      margin-bottom: 90px

      img
        display: block
        max-width: 100%
        box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.25)


  &__backToTop
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    bottom: -192px
    right: -30px
    transition: all 0.2s linear
    cursor: pointer

    +max($bp-xlg)
      right: 10px
      bottom: -238px

    &:hover
      transform: scale(1.1)

    +max($bp-sm)
      display: none

    img
      display: block
      max-width: 45px
      margin-bottom: 12px

  &__backText
    color: $green
    font-size: 16px
    font-weight: 700
    line-height: 1.17

  &__left
    display: block
    position: relative
    max-width: 319px
    justify-self: end

    +max($bp-sm)
      padding: 0px 45px
      max-width: 100%

  &__right
    display: block
    position: relative
    max-width: max-content
    height: max-content
    margin-bottom: -119px
    justify-self: start
    box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.25)

    +max($bp-sm)
      display: none
    img
      display: block
      max-width: 100%


    .narrowText__square
      top: 100%
      left: 100%
      transform: translate(-50%, -65%)

  &__square
    display: block
    position: absolute
    top: 0px
    left: 0px
    transform: translate(-40%, -10%)


    +max($bp-sm)
      display: none

    &.-only-mobile
      display: none

      +max($bp-sm)
        display: block
