.peopleGrid
  .peopleGrid__container
    .peopleGrid__title Leadership
    .peopleGrid__text It turns out therapists who are passionate about their work do it better, which in turn leads to better results, better outcomes, and a better feeling you.
    .peopleGrid__slider
      .peopleGrid__box
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
        include ../peopleGridItem/peopleGridItem
      .peopleGrid__prev
        img(src="./assets/images/slickArrowLeftGreen.svg", alt="Previous")
      .peopleGrid__next
        img(src="./assets/images/slickArrowRightGreen.svg", alt="Next")
