.peopleGrid
  padding: 223px 0 248px
  background-color: $concrete
  +max($bp-sm)
    padding: 75px 0 146px

  &__container
    +container
    max-width: 100%
    padding: 0
    display: flex
    flex-direction: column
    align-items: center

  &__title
    color: $green
    font-size: 50px
    font-weight: 900
    line-height: 1.07
    text-align: center
    margin-bottom: 13px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 22px
      padding: 0px 40px

  &__text
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    text-align: center
    margin-bottom: 41px
    max-width: 589px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      line-height: 1.6
      margin-bottom: 50px
      padding: 0px 40px

  &__slider
    position: relative
    max-width: 100%
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

  &__prev
    display: none
    position: absolute
    top: calc(100% + 97px)
    left: calc(50% - 8px)
    transform: translateX(-150%)
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      transform: translateX(-150%) scale(1.1)
    +max($bp-sm)
      top: calc(100% + 53px)

  &__next
    display: none
    position: absolute
    top: calc(100% + 97px)
    left: calc(50% - 8px)
    transform: translateX(150%)
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      transform: translateX(150%) scale(1.1)
    +max($bp-sm)
      top: calc(100% + 53px)

  &__box
    &.slick-initialized
      .slick-list
        padding-top: 69px !important
        +max($bp-sm)
          padding-top: 24px !important
      .slick-track
        display: flex
