.testimonialsSection
  display: block
  width: 100%
  background-color: $green
  padding: 87px 0px 143px

  +max($bp-sm)
    padding: 74px 0px 54px

  &__container
    +container
    max-width: 100%
    padding: 0

  &__title
    color: $white
    font-size: 44px
    font-weight: 900
    line-height: 1
    text-align: center
    margin-bottom: 6px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 22px

  &__text
    color: $dark-green
    font-size: 22px
    font-weight: 400
    line-height: 1.17
    text-align: center
    margin-bottom: 65px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 16px
      margin-bottom: 46px

  &__testimonials
    position: relative
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

  &__slider
      .slick-list
        margin: 0 -13px
        padding-top: 22px !important
        padding-bottom: 85px !important
        +max($bp-sm)
          padding-top: 0 !important
      .slick-track
        display: flex
      .slick-slide
        display: flex
        height: auto
        padding: 0 39px
        +max($bp-sm)
          padding-left: 13px
          padding-right: 13px

  &__prev
    position: absolute
    top: calc(100% + 30px)
    left: calc(50% - 9px)
    transform: translateX(-150%)
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      transform: translateX(-150%) scale(1.1)
    +max($bp-sm)
      top: calc(100% - 29px)

  &__next
    position: absolute
    top: calc(100% + 30px)
    left: calc(50% - 9px)
    transform: translateX(150%)
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      transform: translateX(150%) scale(1.1)
    +max($bp-sm)
      top: calc(100%  - 29px)
