.testimonialsSection
  .testimonialsSection__container
    .testimonialsSection__title Hear! Hear!
    .testimonialsSection__text The proof is in these happy faces.
    .testimonialsSection__testimonials
      .testimonialsSection__slider
        include ../testimonialsItem/testimonialsItem
        include ../testimonialsItem/testimonialsItem
        include ../testimonialsItem/testimonialsItem
        include ../testimonialsItem/testimonialsItem
      .testimonialsSection__prev
        img(src="./assets/images/slickArrowLeftWhite.svg", alt="Previous")
      .testimonialsSection__next
        img(src="./assets/images/slickArrowRightWhite.svg", alt="Next")
