.customButton
  -webkit-appearance: none
  display: inline-block
  border: none
  outline: none
  background-color: $green
  border-radius: 62px
  padding: 17px 33px
  color: $white
  font-size: 18px
  font-weight: 900
  line-height: 1.25
  white-space: nowrap
  text-decoration: none
  cursor: pointer
  transition: all 0.2s linear
  +max($bp-sm)
    font-size: 16px
    padding: 9px 20px

  &:hover
    color: $white
    text-decoration: none
    background-color: darken($green, 15%)

  &:focus
    color: $white
    text-decoration: none

