.categoryGridItem
  .categoryGridItem__imageBox
    .categoryGridItem__image.-desktop
      img(src="./assets/images/category1.png", alt="Physical Theory")
    .categoryGridItem__image.-mobile
      img(src="./assets/images/category1-m.png", alt="Physical Theory")
    .categoryGridItem__bottom
      .categoryGridItem__decorator
        img(src="./assets/images/categoryDecorator.svg")
      .categoryGridItem__category Physical Therapy
  .categoryGridItem__textBox
    .categoryGridItem__title One small step for man, one giant leap for Sam.
    .categoryGridItem__text Focusing on gross motor skills, like general mobility walking, strengthening, moving, and improving so that you can gain back your independence, manage your pain, and live a better life.
