.categoryGridItem
  display: inline-flex !important
  flex-direction: column
  height: 100%
  +max($bp-sm)
    border-radius: 10px
    overflow: hidden

  &__imageBox
    display: flex
    flex-direction: column

  &__image
    max-width: 100%
    &.-desktop
      +max($bp-sm)
        display: none
    &.-mobile
      display: none
      +max($bp-sm)
        display: block

    img
      display: block
      width: 100%

  &__bottom
    background-color: $green
    padding: 28px 32px 24px
    position: relative
    +max($bp-md)
      padding: 20px 24px 15px

  &__decorator
    position: absolute
    top: 11px
    left: 18px
    max-width: 59px
    +max($bp-sm)
      display: none

  &__category
    color: $white
    font-size: 22px
    font-weight: 900
    line-height: 1.17
    position: relative
    +max($bp-sm)
      font-size: 16px
      text-align: center

  &__textBox
    display: flex
    flex-direction: column
    padding: 51px 32px 0
    flex: 1
    +max($bp-sm)
      background-color: $concrete
      padding: 26px 17px 72px

  &__title
    color: $green
    font-size: 22px
    font-weight: 900
    line-height: 1.17
    margin-bottom: 14px

  &__text
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.6
