extends ../components/layout/_layout

block content
  include ../components/banner/banner-about-us
  include ../components/textSection/textSection-green
  include ../components/peopleGrid/peopleGrid
  include ../components/letsTalk/letsTalk
