extends ../components/layout/_layout

block content
  include ../components/banner/banner-home
  include ../components/categoryGrid/categoryGrid
  include ../components/buttonSection/buttonSection
  include ../components/textSection/textSection
  include ../components/testimonialsSection/testimonialsSection
  include ../components/mapSection/mapSection
  include ../components/narrowText/narrowText

