extends ../components/layout/_layout

block content
  include ../components/banner/banner-partner-with-us
  include ../components/textSection/textSection-transparent
  include ../components/contactSection/contactSection
  +contactSection("-partner")
