extends ../components/layout/_layout

block content
  include ../components/banner/banner-partner-with-us-text
  include ../components/textSection/textSection-transparent
  include ../components/contactSection/contactSection
  +contactSection("-partner")
