extends ../components/layout/_layout

block content
  include ../components/banner/banner-what-we-do
  include ../components/categoryGrid/categoryGrid
  include ../components/issuesGrid/issuesGrid
  include ../components/letsTalk/letsTalk
