.mapSection
  .mapSection__container
    .mapSection__title Where you can link up with us.
    .mapSection__subtitle Here’s where we’re helping people, we’re on the map and growing fast!
    .mapSection__mapPlace
      img(src="./assets/images/map.svg")
    .mapSection__text By doing things definitely, we’ve grown exponentially from one state, one facility and one therapist to six states, 65 AL communities, 170 therapists, and over 230,000* sessions in just three years.
    .mapSection__stats
      .mapSection__item
        .mapSection__icon
          img(src="./assets/images/stats-icon1.svg")
        .mapSection__itemText 170 therapists
      .mapSection__item
        .mapSection__icon
          img(src="./assets/images/stats-icon2.svg")
        .mapSection__itemText 230K sessions
      .mapSection__item
        .mapSection__icon
          img(src="./assets/images/stats-icon3.svg")
        .mapSection__itemText 65 communities
    .mapSection__decorator
      img(src="./assets/images/decorator-dashes-dark-green-m.svg")
    .mapSection__text *and counting.



