.mapSection
  display: block
  width: 100%
  background-color: $concrete
  padding: 91px 0px 108px
  position: relative
  +max($bp-sm)
     padding: 60px 0px 92px 0px

  &__container
    +container
    max-width: 876px
    color: $black

  &__title
    color: $dark-green
    font-size: 44px
    font-weight: 900
    line-height: 1.27
    text-align: center
    margin-bottom: 3px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 22px
      margin-bottom: 8px

  &__subtitle
    color: $black
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    text-align: center
    margin-bottom: 70px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      line-height: 1.6
      margin-bottom: 33px

  &__mapPlace
    max-width: 801px
    margin-bottom: 57px
    opacity: 0
    transform: scale(2)
    transition: transform 1s ease-out, opacity 1s ease-in

    &.visible
      opacity: 1
      transform: scale(1)

    img
      display: block
      width: 100%
    +max($bp-sm)
      margin-bottom: 20px

  &__text
    color: $black
    font-size: 16px
    font-weight: 400
    line-height: 1.6
    text-align: center
    margin-bottom: 60px
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

    +max($bp-sm)
      margin-bottom: 45px

  &__stats
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin: 0 -23px 20px
    width: calc(100% + 46px)
    +max($bp-sm)
      flex-direction: column
      width: 100%
      margin-left: 0
      margin-right: 0

  &__item
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 18px 20px
    width: 100%
    max-width: 160px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      max-width: 135px

  &__icon
    display: flex
    justify-content: center
    align-items: center
    background-color: $white
    box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.21)
    border-radius: 31px
    padding: 31px
    margin-bottom: 31px
    min-height: 148px
    min-width: 148px
    max-height: 148px
    max-width: 148px
    +max($bp-sm)
      padding: 30px
      margin-bottom: 19px
      min-height: 135px
      min-width: 135px
      max-height: 135px
      max-width: 135px
    img
      display: block
      width: 100%
      max-width: 92px
      +max($bp-sm)
        max-width: 76px

  &__itemText
    color: $dark-green
    font-size: 22px
    font-weight: 700
    line-height: 1.17
    text-align: center
    white-space: nowrap
    max-width: 100%

  &__decorator
    display: none
    justify-content: center
    align-items: center
    position: absolute
    bottom: 0
    left: 50%
    z-index: 1
    transform: translate(-50%, 50%)
    +max($bp-sm)
      display: flex
