.textSection 
  .textSection__container 
    picture.textSection__dashes
      source(media="(min-width: 768px)" srcset="assets/images/decorator-dashes-green.svg" type="image/png")
      source(srcset="assets/images/decorator-dashes-dark-green-m.svg" type="image/png")
      img(src="assets/images/decorator-dashes-green.svg" alt="")
    .textSection__green
    .textSection__right
      .textSection__text
        img.textSection__square.-only-mobile(src="assets/images/categoryDecorator.svg" alt="")
        p 
          span Our goal is to focus on who you are as a person and customize each session around your unique needs.
        p It turns out therapists who are passionate about their work do it better, which in turn leads to better results, better outcomes, and a better feeling you.
        p We take extra care to over-communicate with your family, primary, and any other therapists in your realm. Guaranteeing everyone is on the same page about your needs, progress, and overall well-being. 
        p It’s about treating people, not diagnoses.
        p Wherever you are, we can be there for you. Whether it’s a senior living community or at home, we ensure you get all the therapy you need to live your best life. We do it by paying special attention to your holistic needs and not just the thing we’re treating. 
