.textSection.-more-padding-bottom 
  .textSection__container
    .textSection__transparent
    .textSection__right
      .textSection__text
        img.textSection__square.-only-mobile(src="assets/images/categoryDecorator.svg" alt="")
        p
          span We’re looking for therapists who don’t just check off the “I care” box.
        p We’re looking for compassionate, passionate people, who weave those qualities into their everyday therapy process. If that sounds like you, here’s what you’ll get from us.
        p High pay, flexible PTO, and vacation days. Adaptable work days, paid CEU opportunities (so you can keep growing), a modern, intuitive, and easy-to-use EMR, paperless onboarding, clear communication channels, an awesome culture (some bias here), and great health insurance.
  .textSection__icons
    .textSection__item
      .textSection__icon
        img(src="./assets/images/icon-1.svg")
      .textSection__itemText Flexible PTO
    .textSection__item
      .textSection__icon
        img(src="./assets/images/icon-2.svg")
      .textSection__itemText Adaptable Schedule
    .textSection__item
      .textSection__icon
        img(src="./assets/images/icon-3.svg")
      .textSection__itemText Paid CEU Opportunities
    .textSection__item
      .textSection__icon
        img(src="./assets/images/icon-4.svg")
      .textSection__itemText Vacation Days
    .textSection__item
      .textSection__icon
        img(src="./assets/images/icon-5.svg")
      .textSection__itemText Awesome Culture
