.textSection
  display: block
  position: relative
  width: 100%
  padding-bottom: 148px

  +max($bp-sm)
    padding-bottom: 97px

  &.-more-padding-bottom-join
    padding-bottom: 260px
    +max($bp-sm)
      padding-bottom: 67px

  &.-more-padding-bottom-partner
    padding-bottom: 237px
    +max($bp-sm)
      padding-bottom: 130px
      .textSection__icons
        padding-top: 92px

  &__container
    display: grid
    width: 100%
    grid-template-columns: 335fr 625fr
    gap: 28px 92px

    +max($bp-xlg)
      padding: 0px 40px

    +max($bp-md)
      grid-template-columns: 100%

  &__left
    width: 100%
    display: block
    max-width: 335px
    justify-self: end
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

    +max($bp-md)
      justify-self: start

  &__right
    width: 100%
    display: block
    max-width: 625px
    justify-self: start
    opacity: 0
    transform: translateX(50%)
    transition: opacity 1s ease-out, transform 1s ease-out
    &.visible
      opacity: 1
      transform: none

    &.-wider
      max-width: 745px

  &__tag
    position: relative
    font-size: 22px
    font-weight: 900
    line-height: 1.2
    color: $green

    +max($bp-sm)
      padding-bottom: 4px

  &__green
    display: block
    width: 100%
    height: calc(100% + 378px)
    margin-top: -230px
    align-self: stretch
    background-color: $green

    +max($bp-xlg)
      width: calc(100% + 40px)
      margin-left: -40px

    +max($bp-md)
      display: none

  &__transparent
    display: block
    width: 100%
    height: 100%
    align-self: stretch

    +max($bp-md)
      display: none

  &__title
    font-size: 44px
    font-weight: 900
    line-height: 1.2
    color: $dark-green

    +max($bp-sm)
      font-size: 22px

  &__text
    font-size: 16px
    font-weight: 400
    color: $dark-green
    position: relative
    line-height: 1.6

    p
      margin-bottom: 30px

      &:last-child
        margin-bottom: 0px

    span
      font-weight: 700
      color: $green

  &__square
    display: block
    position: absolute
    top: 0px
    left: 0px
    transform: translate(-40%, -35%)

    +max($bp-sm)
      display: none

    &.-only-mobile
      display: none

      +max($bp-sm)
        display: block

  &__dashes
    display: block
    position: absolute
    top: 100%
    left: 50%
    transform: translate(-50%, -50%)

    &.-only-mobile
      display: none

      +max($bp-sm)
        display: block

  &__icons
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    padding-top: 147px

    +max($bp-sm)
      padding-top: 45px

  &__item
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 19px 20px 19px
    max-width: 148px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      margin: 0 10px 15px 10px
      max-width: 135px

  &__icon
    display: flex
    justify-content: center
    align-items: center
    background-color: $grey
    box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.21)
    border-radius: 31px
    padding: 31px
    margin-bottom: 31px
    min-height: 148px
    min-width: 148px
    max-height: 148px
    max-width: 148px
    +max($bp-sm)
      padding: 30px
      margin-bottom: 19px
      min-height: 135px
      min-width: 135px
      max-height: 135px
      max-width: 135px

    img
      display: block
      max-width: 100%

  &__itemText
    color: $dark-green
    font-size: 22px
    font-weight: 700
    line-height: 1.17
    max-width: 100%
    text-align: center

    +max($bp-sm)
      color: $green
      font-size: 16px
