.peopleGridItem
  .peopleGridItem__photo
    img(src="./assets/images/doctor1.png", alt="Eli Weissman")
  .peopleGridItem__name Eli Weissman
  .peopleGridItem__position PHD Blah Blah Blah
  .peopleGridItem__text "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
