.peopleGridItem
  display: flex !important
  flex-direction: column
  align-items: center

  &__photo
    display: flex
    justify-content: center
    align-content: center
    border-radius: 6px
    box-shadow: 0px 50px 50px -46px rgba(0, 0, 0, 0.25)
    margin-bottom: 28px
    min-width: 238px
    max-width: 238px
    min-height: 238px
    max-height: 238px
    transition: all 0.3s linear
    +max($bp-md)
      min-width: 143px
      max-width: 143px
      min-height: 143px
      max-height: 143px


    img
      display: block
      width: 100%

  &__name
    color: $green
    font-size: 29px
    font-weight: 900
    line-height: 1.14
    text-align: center
    margin-bottom: 1px
    +max($bp-sm)
      font-size: 22px
      line-height: 0.9
      margin-bottom: 4px

  &__position
    color: $dark-green
    font-size: 12px
    font-weight: 700
    line-height: 1.17
    text-align: center
    margin-bottom: 8px
    +max($bp-sm)
      font-size: 16px
      font-weight: 400
      margin-bottom: 25px

  &__text
    opacity: 0
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    text-align: center
    transition: opacity 0.3s linear
    +max($bp-sm)
      line-height: 1.6

.slick-current
  .peopleGridItem__photo
    transform: scale(1.54)
    margin-bottom: 95px
    transition: all 0.3s linear
    +max($bp-md)
      transform: scale(1.3)
      margin-bottom: 39px
  .peopleGridItem__text
    opacity: 1
