.contact
  form.contact__form
    .contact__inputPlace
      input.contact__input(type="text" placeholder="Name")
      input.contact__input(type="email" placeholder="Email")
    textarea.contact__textarea(placeholder="Message")
    button.contact__button(type="submit") Send
