.contactSection
  display: block
  width: 100%
  margin-top: -182px
  margin-bottom: 149px
  position: relative
  z-index: 1
  +max($bp-sm)
    margin-top: 0
    margin-bottom: 0

  &.-partner
    margin-top: -120px
    margin-bottom: 156px
    +max($bp-sm)
      margin-top: 0
      margin-bottom: 0
      background-color: $concrete
    .contactSection__bg
      top: 120px
      height: 66%
    .contactSection__box
      background-color: $concrete
      padding: 114px 132px 128px
      +max($bp-xlg)
        padding-left: 65px
        padding-right: 65px
      +max($bp-sm)
        padding: 79px 0 72px
    .contactSection__title
      margin-bottom: 33px
    .contactSection__form
      +max($bp-sm)
        margin-bottom: 57px
      textarea
        min-height: 220px

  &__bg
    position: absolute
    top: 182px
    background-color: $green
    width: 100%
    height: 60%
    +max($bp-sm)
      display: none

  &__container
    +container
    position: relative

  &__box
    display: flex
    justify-content: space-between
    padding: 110px 130px 93px
    background-color: $white
    position: relative
    +max($bp-xlg)
      padding-left: 65px
      padding-right: 65px
    +max($bp-sm)
      flex-direction: column
      justify-content: flex-start
      padding: 60px 0px 88px

  &__decorator
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    +max($bp-sm)
      display: none
    &.-mobile
      display: none
      +max($bp-sm)
        display: block

  &__bottomDecorator
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
    +max($bp-sm)
      display: none
    &.-mobile
      display: none
      +max($bp-sm)
        display: block

  &__left
    max-width: 43%
    align-self: flex-start
    margin-right: 20px

    +max($bp-sm)
      max-width: 100%

  &__title
    color: $dark-green
    font-size: 51px
    font-weight: 700
    line-height: 1.17
    margin-bottom: 14px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 29px
      margin-bottom: 6px
    br
      display: none
      +max($bp-sm)
        display: block

  &__text
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    margin-bottom: 30px
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

    +max($bp-sm)
      line-height: 1.6
      margin-bottom: 50px

  &__contactData
    margin-bottom: 29px
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

    +max($bp-sm)
      display: none
    &.-mobile
      display: none
      +max($bp-sm)
        display: block

  &__data
    margin-bottom: 11px
    &:last-child
      margin-bottom: 0

  &__type
    display: inline
    color: $dark-green
    font-size: 16px
    font-weight: 900
    line-height: 1.17
    margin-right: 2px

  &__value
    display: inline
    color: $green
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    text-decoration: underline
    a
      color: inherit
      transition: all 0.2s linear
      &:hover
        color: $dark-green

  &__bottomText
    color: $dark-green
    font-size: 22px
    line-height: 1.17
    font-weight: 700
    max-width: 260px
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

    +max($bp-sm)
      display: none

  &__right
    padding-top: 16px

  &__form
    +max($bp-sm)
      margin-bottom: 28px
    textarea
      min-height: 321px
      +max($bp-sm)
        min-height: 220px

  &__bottomImage
    box-shadow: 0px 50px 50px -44px rgba(0, 0, 0, 0.25)
    +max($bp-sm)
      display: none
    img
      display: block
      width: 100%

