mixin contactSection(customClass)
  .contactSection(class=customClass)
    .contactSection__bg
    .contactSection__container
      .contactSection__box
        .contactSection__decorator.-desktop
          img(src="./assets/images/decorator-dashes-green.svg")
        .contactSection__decorator.-mobile
          -if (customClass == '-partner')
            img(src="./assets/images/decorator-dashes-dark-green-m.svg")
          -else
            img(src="./assets/images/decorator-dashes-green-m.svg")
        .contactSection__left
          .contactSection__title Let’s talk.
          .contactSection__text
            p With so much to process and questions big and small, we’re here to provide you with answers and guidance. So whether you’re more of a talker, emailer, or chatter, we’re happy to help.
          .contactSection__contactData.-desktop
            .contactSection__data
                .contactSection__type Call
                .contactSection__value 718.650.8725
            .contactSection__data
                .contactSection__type Email
                .contactSection__value hello@linkhometherapy.com
            .contactSection__data
                .contactSection__type Whatsapp
                .contactSection__value 201.851.8725
            .contactSection__data
                .contactSection__type Fax
                .contactSection__value 201.654.0646
          .contactSection__bottomText No pressure, just patience and the desire to assist you.
        .contactSection__right
          .contactSection__form
            -if (customClass == '-partner')
              include ../partnerForm/partnerForm
            -else
              include ../contact/contact
          .contactSection__contactData.-mobile
            .contactSection__data
                .contactSection__type Call
                .contactSection__value 718.650.8725
            .contactSection__data
                .contactSection__type Email
                .contactSection__value hello@linkhometherapy.com
            .contactSection__data
                .contactSection__type Whatsapp
                .contactSection__value 201.851.8725
            .contactSection__data
                .contactSection__type Fax
                .contactSection__value 201.654.0646
      .contactSection__bottomImage
        img(src="./assets/images/contactBottom.png")
      -if (customClass == '-partner')
        .contactSection__bottomDecorator
          img(src="./assets/images/decorator-dashes-green.svg")

