.banner.-smaller-photo.-without-shadow.-without-margin-bottom
  .banner__container
    picture 
      source(media="(min-width: 481px)" srcset="assets/images/banners/banner-contact.png" type="image/png")
      source(srcset="assets/images/banners/banner-contact-m.png" type="image/png")
      img.banner__image(src="assets/images/banners/banner-contact.png" alt="")
