.banner
  display: block
  width: 100%
  margin-bottom: 144px

  +max($bp-sm)
    margin-bottom: 100px

  &.-without-margin-bottom
    margin-bottom: 0

  &.-narrower
    .banner__container
      max-width: 1140px

  &.-more-narrower
    .banner__container
      display: flex
      justify-content: flex-end
      max-width: 1140px
    picture
      max-width: 1011px
      img
        width: auto
        max-width: 100%

  &.-smaller-photo
    .banner__image
      min-height: 239px

  &.-without-shadow
    .banner__image
      box-shadow: none


  &__image
    display: block
    width: 100%
    max-width: 1440px
    margin: 0 auto
    object-fit: cover
    min-height: 400px
    box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.25)

  &__container
    display: block
    max-width: 1440px
    width: 100%
    margin: 0 auto
    position: relative
    z-index: 1

  &__title
    color: $dark-green
    font-size: 44px
    font-weight: 700
    line-height: 1.1
    margin-bottom: 20px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 22px
      margin-bottom: 10px

    &.-font-900
      font-weight: 900

  &__text
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.6
    margin-bottom: 60px
    opacity: 0
    transition: opacity 1s linear

    &.visible
      opacity: 1

    +max($bp-md)
      margin-bottom: 22px

    +max($bp-sm)
      font-size: 14px
      line-height: 1.2


  &__whiteAbsoluteBox
    display: block
    position: absolute
    left: 150px
    top: 50%
    max-width: 367px
    transform: translateY(-50%)
    background-color: $white
    padding: 86px 40px 69px 62px

    +max($bp-lg)
      left: 43px
      padding: 63px 40px 52px 40px

    +max($bp-sm)
      left: 50%
      transform: translate(-50%, 0)
      bottom: -28px
      top: auto
      padding: 63px 20px 52px 20px
      text-align: center
      width: 296px
      box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.25)


  &__seal
    display: block
    position: absolute
    top: 0
    right: 0
    transform: translate(50%, -50%) scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    +max($bp-md)
      display: none

    &.visible
      transform: translate(50%, -50%) scale(1)

    &.animated
      animation: spin 20s infinite
      -webkit-animation: spin 20s infinite
      animation-timing-function: linear
      -webkit-animation-timing-function: linear

  @keyframes spin
    0%
      transform: translate(50%, -50%) scale(1) rotate(0deg)
      -webkit-transform: translate(50%, -50%) scale(1) rotate(0deg)
    25%
      transform: translate(50%, -50%) scale(1) rotate(-90deg)
      -webkit-transform: translate(50%, -50%) scale(1) rotate(-90deg)
    50%
      transform: translate(50%, -50%) scale(1) rotate(-180deg)
      -webkit-transform: translate(50%, -50%) scale(1) rotate(-180deg)
    75%
      transform: translate(50%, -50%) scale(1) rotate(-270deg)
      -webkit-transform: translate(50%, -50%) scale(1) rotate(-270deg)
    100%
      transform: translate(50%, -50%) scale(1) rotate(-360deg)
      -webkit-transform: translate(50%, -50%) scale(1) rotate(-360deg)


  &__button
    display: block
    max-width: max-content
    font-size: 18px
    font-weight: 900
    background-color: $green
    opacity: 0.6
    color: $white
    text-decoration: none
    padding: 17px 40px
    border-radius: 52px
    cursor: pointer
    transition: all 0.2s linear

    &:hover
      color: $white
      text-decoration: none
      opacity: 1

    +max($bp-sm)
      margin: 0 auto
      padding: 8px 19px
      opacity: 1

  &__dashes
    display: block
    position: absolute
    top: 100%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2

    +max($bp-sm)

      &.-only-desktop
        display: none

      &.-lower-on-mobile
        top: auto
        bottom: -28px
        transform: translate(-50%, 50%)

    &.-only-mobile
      display: none

      +max($bp-sm)
        display: block

  &__square
    display: block
    position: absolute
    top: 100%
    left: 0%
    transform: translate(-50%, -50%)
    z-index: 2

    +max($bp-sm)
      display: none

  &__tag
    color: $green
    font-size: 22px
    font-weight: 900
    margin-bottom: 6px

  &__transparentAbsoluteBox
    display: block
    position: absolute
    right: 150px
    top: 50%
    max-width: 367px
    transform: translateY(-50%)

    +max($bp-lg)
      right: 30px

    +max($bp-sm)
      text-align: center
      max-width: 240px

    +max($bp-xxs)
      right: 50%
      top: 35px
      width: 240px
      transform: translateX(50%)

  &__greenAbsoluteBox
    display: block
    position: absolute
    background-color: $green
    left: 0
    top: 100%
    width: 368px
    transform: translate(0, -75%)
    padding: 87px 34px 76px 71px

    .banner__title
      color: $white
      margin-bottom: 0
      line-height: 1.17

    .banner__square
      left: 100%

    +max($bp-xlg)
      width: 328px
      padding: 54px 20px 33px 30px
      transform: translate(5%, -75%)

    +max($bp-sm)
      width: 134px
      padding: 0
      background-color: transparent
      left: 72px
      top: 50%
      transform: translateY(-50%)

    &.-absolute-bottom-on-mobile
      padding: 87px 106px

      +max($bp-xlg)
        padding: 47px 67px 40px 80px
        transform: translate(5%, -65%)

      +max($bp-sm)
        padding: 0
        top: calc(100% + 47px)
        left: 50%
        transform: translateX(-50%)
        width: 100%
        text-align: center

        .banner__title
          color: $green

  &__transparentAbsoluteBoxLeft
    display: block
    position: absolute
    left: 150px
    top: 50%
    max-width: 271px
    transform: translateY(-50%)

    +max($bp-lg)
      left: 43px

    +max($bp-sm)
      max-width: 138px
      top: 43px
      transform: none

