.banner.-more-narrower
  .banner__container
    picture 
      source(media="(min-width: 481px)" srcset="assets/images/banners/banner-partner-with-us-text.png" type="image/png")
      source(srcset="assets/images/banners/banner-partner-with-us-text-m.png" type="image/png")
      img.banner__image(src="assets/images/banners/banner-partner-with-us-text.png" alt="")
    img.banner__dashes.-only-mobile(src="assets/images/decorator-dashes-dark-green-m.svg" alt="")
    .banner__greenAbsoluteBox
      .banner__title It takes two to tango. So, how’s your footwork?
      img.banner__square(src="assets/images/decorator-banner-square.svg" alt="")

