.banner.-smaller-photo
  .banner__container
    picture 
      source(media="(min-width: 481px)" srcset="assets/images/banners/banner-what-we-do.png" type="image/png")
      source(srcset="assets/images/banners/banner-what-we-do-m.png" type="image/png")
      img.banner__image(src="assets/images/banners/banner-what-we-do.png" alt="")
    img.banner__dashes.-only-desktop(src="assets/images/decorator-dashes-green.svg" alt="")
    .banner__transparentAbsoluteBoxLeft
      .banner__title.-font-900 Sometimes the best hand is a leg up.
