.banner.-more-narrower
  .banner__container
    picture 
      source(media="(min-width: 481px)" srcset="assets/images/banners/banner-partner-with-us.png" type="image/png")
      source(srcset="assets/images/banners/banner-partner-with-us-m.png" type="image/png")
      img.banner__image(src="assets/images/banners/banner-partner-with-us.png" alt="")
    img.banner__dashes.-only-mobile(src="assets/images/decorator-dashes-dark-green-m.svg" alt="")
    .banner__greenAbsoluteBox.-absolute-bottom-on-mobile
      .banner__title Partner with us:
      img.banner__square(src="assets/images/decorator-banner-square.svg" alt="")

