.banner.-narrower
  .banner__container
    picture 
      source(media="(min-width: 481px)" srcset="assets/images/banners/banner-about-us.png" type="image/png")
      source(srcset="assets/images/banners/banner-about-us-m.png" type="image/png")
      img.banner__image(src="assets/images/banners/banner-about-us.png" alt="")
    img.banner__dashes.-only-mobile(src="assets/images/decorator-dashes-dark-green-m.svg" alt="")
    img.banner__square(src="assets/images/decorator-banner-square.svg" alt="")
    .banner__transparentAbsoluteBox
      .banner__tag Our Mission
      .banner__title.-font-900 Human beings focused on your well-being.
