.banner
  .banner__container
    picture 
      source(media="(min-width: 481px)" srcset="assets/images/banners/banner-home.png" type="image/png")
      source(srcset="assets/images/banners/banner-home-m.png" type="image/png")
      img.banner__image(src="assets/images/banners/banner-home.png" alt="")
    picture 
      source(media="(min-width: 768px)" srcset="assets/images/decorator-dashes-green.svg" type="image/png")
      source(srcset="assets/images/decorator-dashes-green-m.svg" type="image/png")
      img.banner__dashes.-lower-on-mobile(src="assets/images/decorator-dashes-green.svg" alt="")
    .banner__whiteAbsoluteBox
      img.banner__seal(src="assets/images/decorator-banner.svg" alt="")
      .banner__title Hi! It’s nice to treat you. 
      .banner__text No matter where, no matter when, no matter who or how, we are ready to rock and get you on a roll.
      a.banner__button(href="#" title="Let's talk!") Let's talk!
  