.footer
  .footer__container
    .footer__left
      .footer__logo.-mobile
        a.logo(href="#" title="Link Home Therapy")
          img(src="assets/images/logo-footer.svg")
      .footer__menu
        ul.footer__list
          li.footer__listTitle MENU
          li
            a.footer__link(href="#" title="About Us") About Us
          li
            a.footer__link(href="#" title="Partner with Us") Partner with Us
          li
            a.footer__link(href="#" title="Contact") Contact
          li
            a.footer__link(href="#" title="What we do") What we do
        ul.footer__list.-desktop
          li.footer__listTitle SOCIAL
          li
            a.footer__link(href="#" title="Twitter") Twitter
          li
            a.footer__link(href="#" title="Linkedin") Linkedin
          li
            a.footer__link(href="#" title="Facebook") Facebook
      .footer__copyright.-desktop © 2021 Link Home Therapy
    .footer__right
      a.customButton(href="#" title="Payment Portal") Payment Portal
      .footer__logo.-desktop
        a.logo(href="#" title="Link Home Therapy")
          img(src="assets/images/logo-footer.svg")
      .footer__social
        a.footer__icon(href="#" title="Facebook")
          img(src="./assets/images/facebook-logo.svg")
        a.footer__icon(href="#" title="Twitter")
          img(src="./assets/images/twitter-logo.svg")
        a.footer__icon(href="#" title="Instagram")
          img(src="./assets/images/instagram-logo.svg")
        a.footer__icon(href="#" title="Linkedin")
          img(src="./assets/images/linkedin-logo.svg")
      .footer__copyright.-mobile © 2021 Link Home Therapy
