.footer
  display: block
  width: 100%
  background-color: $dark-green
  padding: 118px 0px 85px
  position: relative
  +max($bp-sm)
    padding: 71px 0 76px

  &__decorator
    display: none
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1
    +max($bp-sm)
      display: block

  &__container
    +container
    display: flex
    justify-content: space-between
    max-width: 927px
    +max($bp-sm)
      flex-direction: column
      align-items: center

  &__left
    display: flex
    flex-direction: column
    text-align: left
    +max($bp-sm)
      align-items: center
      text-align: center

  &__menu
    display: flex
    margin-bottom: 45px
    +max($bp-sm)
      margin-bottom: 37px

  &__list
    margin-left: 90px
    &:first-child
      margin-left: 0
    &.-desktop
      +max($bp-sm)
        display: none

  &__listTitle
    color: $white
    font-size: 16px
    font-weight: 900
    line-height: 1.17
    text-transform: uppercase
    margin-bottom: 20px
    +max($bp-sm)
      display: none

  &__link
    display: block
    color: $green
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    text-decoration: none
    cursor: pointer
    margin-bottom: 8px

    &:hover
      color: $green
      text-decoration: underline

  &__copyright
    color: $green
    font-size: 16px
    font-weight: 400
    line-height: 1.17
    +max($bp-sm)
      display: none
    &.-mobile
      display: none
      +max($bp-sm)
        display: block

  &__right
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    text-align: right
    +max($bp-sm)
      align-items: center
    .customButton
      padding: 13px 24px
      font-size: 16px
      +max($bp-sm)
        margin-bottom: 63px

  &__logo
    max-width: 266px
    +max($bp-sm)
      display: none
    &.-mobile
      display: none
      max-width: 138px
      margin-bottom: 26px
      +max($bp-sm)
        display: block

  &__social
    display: none
    +max($bp-sm)
      display: flex
      margin-bottom: 17px

  &__icon
    max-width: 21px
    margin-right: 14px
    &:last-child
      margin-right: 0
    img
      display: block
      width: 100%
