.issuesGrid
  padding: 183px 0 213px
  background-color: $concrete
  position: relative
  +max($bp-sm)
    padding: 111px 0 109px

  &__container
    +container

  &__title
    color: $dark-green
    font-size: 44px
    font-weight: 900
    line-height: 1.22
    text-align: center
    margin-bottom: 74px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 29px
      margin-bottom: 51px

  &__box
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: calc(100% + 20px)
    margin-left: -10px
    margin-bottom: -35px
    +max($bp-sm)
      flex-direction: column
      align-items: center
      margin-bottom: -75px

  &__decoratorTop
    display: flex
    justify-content: center
    align-items: center
    max-width: 47px
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    +max($bp-sm)
      display: none

    img
      display: block
      width: 100%

  &__decoratorBottom
    display: none
    justify-content: center
    align-items: center
    max-width: 24px
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
    z-index: 1
    +max($bp-sm)
      display: flex

    img
      display: block
      width: 100%
