.issuesGrid
  .issuesGrid__container
    .issuesGrid__title Common issues we treat.
    .issuesGrid__box
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
      include ../issuesGridItemNew/issuesGridItemNew
  .issuesGrid__decoratorTop
    img(src="./assets/images/decorator-dashes-green.svg")
  .issuesGrid__decoratorBottom
    img(src="./assets/images/decorator-dashes-green-m.svg")
