doctype html
html(lang="pl")
  head
    title Template
    meta(charset='utf-8')
    meta(name='title', content='Template')
    meta(name='description', content='Template description')
    meta(name='keywords', content='Template keywords')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='./assets/styles/main.min.css')
    link(rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png")
    link(rel="manifest" href="assets/favicon/site.webmanifest")
    link(rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='theme-color', content='#ffffff')
  body
    div(style="overflow-x:hidden")
      include ../header/header
      block content
      include ../footer/footer

    script(async, src='./assets/scripts/main3.min.js')
