.letsTalk
  padding: 226px 0 170px
  background-image: url('../images/letsTalkBg.png')
  background-size: cover
  background-position: top center
  background-repeat: no-repeat
  min-height: 650px
  position: relative
  +max($bp-sm)
    padding: 36px 0 25px
    min-height: 264px

  &__container
    +container
    display: flex
    flex-direction: column
    justify-content: space-between

  &__textBox
    .customButton
      padding-left: 43px
      padding-right: 43px
      +max($bp-sm)
        padding-left: 20px
        padding-right: 20px

  &__title
    color: $white
    font-size: 41px
    font-weight: 900
    line-height: 1
    max-width: 550px
    margin-bottom: 77px
    opacity: 0
    transform: translateY(-100%)
    transition: opacity 1s ease-in, transform 1s ease-out
    &.visible
      opacity: 1
      transform: none

    +max($bp-sm)
      font-size: 20px
      line-height: 1.06
      max-width: 130px
      margin-bottom: 16px

  .customButton
    opacity: 0
    transform: translateY(100%)
    transition: opacity 1s ease-in, transform 1s ease-out
    &.visible
      opacity: 1
      transform: none

  &__backToTop
    display: flex
    flex-direction: column
    align-items: center
    position: absolute
    bottom: 52px
    right: 69px
    transition: all 0.2s linear
    cursor: pointer
    +max($bp-sm)
      display: none

    img
      max-width: 45px
      margin-bottom: 12px

    &:hover
      transform: scale(1.1)

  &__backText
    color: $green
    font-size: 16px
    font-weight: 700
    line-height: 1.17
