.partnerForm
  form.partnerForm__form
    .partnerForm__inputPlace
      input.partnerForm__input(type="text" placeholder="Name")
      input.partnerForm__input(type="email" placeholder="Email")
    textarea.partnerForm__textarea(placeholder="Message")
    .partnerForm__buttons
      input.partnerForm__upload(type="file" id="upload")
      label.partnerForm__button.-outline(for="upload") Attach Resume
      button.partnerForm__button(type="submit") Send
