.partnerForm
  display: block
  max-width: 372px
  +max($bp-sm)
    max-width: 100%

  &__form
    text-align: right

  &__phone
    margin-bottom: 16px

  &__inputPlace
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 32px
    margin-bottom: 16px
    +max($bp-xxs)
      gap: 10px

  &__input
    +font-roboto
    -webkit-appearance: none
    color: $dark-green
    font-size: 12px
    font-weight: 400
    line-height: 1.17
    width: 100%
    border: 0
    border-radius: 2px
    background-color: $alto
    padding: 13px 26px
    outline: none
    +max($bp-sm)
      padding: 13px 24px

    &::placeholder
      color: $dark-green

  &__textarea
    +font-roboto
    display: block
    -webkit-appearance: none
    color: $dark-green
    font-size: 12px
    line-height: 1.17
    background-color: $alto
    padding: 15px 23px
    width: 100%
    border: 0
    border-radius: 2px
    resize: none
    outline: none
    min-height: 220px
    margin-bottom: 21px
    +max($bp-sm)
      padding: 15px 20px

    &::placeholder
      color: $dark-green

  &__buttons
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 32px
    +max($bp-sm)
      gap: 10px
    +max($bp-xxxs)
      grid-template-columns: 100%

  &__upload
    position: absolute
    opacity: 0
    z-index: -1

  &__button
    -webkit-appearance: none
    background-color: $green
    border: 2px solid transparent
    border-radius: 2px
    color: $white
    font-size: 12px
    font-weight: 900
    line-height: 1.17
    white-space: nowrap
    padding: 11px 10px
    width: 100%
    text-align: center
    cursor: pointer
    transition: all 0.2s linear

    &:hover
      background-color: darken($green, 15%)

    &.-outline
      background-color: transparent
      border-color: $green
      color: $dark-green

      &:hover
        color: darken($green, 15%)

  &__fileMessage
    max-width: 170px
    padding: 0px 5px
    text-align: center
    margin-top: 10px
    color: #005C5D
    font-size: 12px
    font-weight: 500
