.categoryGrid
  margin-bottom: 147px

  +max($bp-sm)
    margin-bottom: 105px

  &__container
    +container
    display: flex
    flex-direction: column
    align-items: center
    +max($bp-sm)
      padding-right: 0

  &__title
    color: $green
    font-size: 44px
    font-weight: 900
    line-height: 1.22
    text-align: center
    margin-bottom: 56px
    transform: scale(0)
    transition: transform 1s cubic-bezier(0, 0.65, 0, 1.4)

    &.visible
      transform: scale(1)

    +max($bp-sm)
      font-size: 22px
      line-height: 1.14
      padding: 0 80px 0 40px
      margin-bottom: 40px

  &__slider
    position: relative
    opacity: 0
    transition: opacity 1s ease-in

    &.visible
      opacity: 1

  &__prev
    display: none
    position: absolute
    top: calc(100% + 27px)
    left: calc(50% - 30px)
    transform: translateX(-150%)
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      transform: translateX(-150%) scale(1.1)

  &__next
    display: none
    position: absolute
    top: calc(100% + 27px)
    left: calc(50% - 30px)
    transform: translateX(150%)
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      transform: translateX(150%) scale(1.1)

  &__box
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
    &.slick-initialized
      grid-template-columns: 100%
      width: 100%
      .slick-list
        margin: 0 -10px
        +max($bp-sm)
          margin-left: -50px
      .slick-track
        display: flex
      .slick-slide
        display: flex
        height: auto
        padding: 0 10px
        +max($bp-sm)
          padding-left: 17px
          padding-right: 17px
    +max($bp-md)
      gap: 44px
    +max($bp-sm)
      grid-template-columns: 100%
