.categoryGrid
  .categoryGrid__container
    .categoryGrid__title Sometimes the best hand is a leg up.
    .categoryGrid__slider
      .categoryGrid__box
        include ../categoryGridItem/categoryGridItem
        include ../categoryGridItem/categoryGridItem
        include ../categoryGridItem/categoryGridItem
      .categoryGrid__prev
        img(src="./assets/images/slickArrowLeftGreen.svg", alt="Previous")
      .categoryGrid__next
        img(src="./assets/images/slickArrowRightGreen.svg", alt="Next")
