.menu
  position: relative

  &__button
    display: none
    +max($bp-sm)
      display: block
      cursor: pointer
    img
      display: block
      max-width: 100%

  &__open
    display: block


  &__container
    display: flex
    align-items: center
    transition: all 0.3s linear

    +max($bp-sm)
      display: block
      position: fixed
      top: -200%
      left: 0px
      bottom: 200%
      right: 0px
      max-width: 100%
      background-color: $dark-green
      padding: 50px
      overflow: auto

      &.-open
        top: 0
        bottom: 0
        z-index: 1000

  &__item
    display: block
    color: #000
    font-size: 18px
    font-weight: 700
    line-height: 1
    text-decoration: none
    margin-right: 40px
    transition: all 0.2s linear

    &:last-child
      margin-right: 0

    &:hover
      color: $green
      text-decoration: none

    +max($bp-lg)
      margin-right: 20px

    &.-current
      color: $green
      text-decoration: none

    +max($bp-sm)
      min-width: 227px
      width: 100%
      text-align: center
      padding: 23px
      color: $white
      font-size: 14px
      margin: 0
      border-bottom: 2px solid $green

    &.-contact
      background-color: $green
      color: $white
      padding: 8px 10px
      border-radius: 8px
      +max($bp-sm)
        background-color: transparent
        padding: 23px
        border-radius: 0

      &:hover
        color: $white
        background-color: darken($green, 15%)

  &__menu
    display: flex
    align-items: center

    +max($bp-sm)
      display: block
      max-width: max-content
      text-align: center
      margin: 0 auto 30px auto

  &__logoLink
    display: block
    max-width: 100%
    margin-bottom: 30px

  &__logo
    display: none
    margin: 0 auto
    max-width: 128px

    +max($bp-sm)
      display: block

  &__socials
    display: none
    align-items: center
    justify-content: center
    margin-bottom: 62px

    +max($bp-sm)
      display: flex

  &__social
    display: block
    max-width: 100%
    width: 22px
    margin: 0px 7px

  &__buttonLink
    display: none
    max-width: max-content
    text-decoration: none
    margin: 0 auto
    color: $white
    font-weight: 900
    font-size: 18px
    line-height: 1
    background-color: $green
    padding: 15px 38px 13px 38px
    margin-bottom: 30px
    border-radius: 52px

    +max($bp-sm)
      display: block

    &:hover
      color: darken($white, 10%)
      text-decoration: none

  &__close
    display: none
    max-width: 22px
    margin: 0 auto
    cursor: pointer

    +max($bp-sm)
      display: block

