.menu
  .menu__button
    img.menu__open(src="./assets/images/menu-open.svg")
  .menu__container
    a.menu__logoLink(href="#"  title="")
      img.menu__logo(src="assets/images/logoWhite.svg" alt="")
    .menu__menu
      a.menu__item(href="#" title="About us") About us
      a.menu__item.-border(href="#" title="Partner with us") Partner with us
      a.menu__item(href="#" title="Contact") Contact
      a.menu__item(href="#" title="What we do") What we do
    .menu__socials 
      a.menu__social(href="#"  title="fallow us on facebook")
        img.menu__icon(src="assets/images/icons/fb.svg" alt="")
      a.menu__social(href="#"  title="fallow us on twitter")
        img.menu__icon(src="assets/images/icons/twitter.svg" alt="")
      a.menu__social(href="#"  title="fallow us on instagram")
        img.menu__icon(src="assets/images/icons/instagram.svg" alt="")
      a.menu__social(href="#"  title="fallow us on linkedin")
        img.menu__icon(src="assets/images/icons/linkedin.svg" alt="")
    a.menu__buttonLink(href="#" title="Payment Portal") Payment Portal
    img.menu__close(src="assets/images/menu-close.svg" alt="close") 
