.testimonialsItem
  display: inline-flex !important
  flex-direction: column
  padding: 62px 52px 52px
  background-color: $white
  border-radius: 10px
  box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.25)
  height: 100%
  +max($bp-sm)
    padding: 41px 32px 42px 36px

  &.-opacity
    opacity: 0.15

  &__text
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.6
    margin-bottom: 32px
    flex: 1
    +max($bp-sm)
      margin-bottom: 53px

  &__author
    color: $green
    font-size: 29px
    font-weight: 900
    line-height: 1.14
    +max($bp-sm)
      font-size: 22px
      line-height: 1.28

  &__from
    color: $dark-green
    font-size: 12px
    font-weight: 400
    line-height: 1.17
