.testimonialsItem
  .testimonialsItem__text Tom saved my life. When covid put me in the ICU, my family was terrified I wouldn't come home. After a month on a ventilator, it was a special day when they brought me home on a stretcher. I was weak as a fly but on my way to recovery. Day in and day out, step by step he built up my strength. I'm back at work now and forever thankful to Tom for helping me get back on my feet.
  .testimonialsItem__author Eli Weissman
  .testimonialsItem__from Brooklyn, NY
