.issuesGridItem
  .issuesGridItem__square
    img(src="./assets/images/decorator-square-green.svg")
  .issuesGridItem__name Memory Impairment
  .issuesGridItem__line
    img(src="./assets/images/decorator-line-green.svg")
  .issuesGridItem__text When memory impairment starts affecting ones daily lifestyle, therapy may be the answer. Our speech therapists can help improve memory retention with a variety of skilled techniques and strategies.
