.issuesGridItem
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 11px 142px
  flex: 0 1 calc(100% / 3 - 22px)
  opacity: 0
  transform: translateY(25%)
  transition: opacity 1s ease-in, transform 1s ease-out

  &.visible
    opacity: 1
    transform: none

  +max($bp-sm)
    margin: 0 0 90px

  &__square
    max-width: 44px
    margin-bottom: 20px
    +max($bp-sm)
      margin-bottom: 10px
    img
      display: block
      width: 100%

  &__name
    color: $dark-green
    font-size: 21px
    font-weight: 900
    line-height: 1.17
    text-align: center
    margin-bottom: 23px
    +max($bp-sm)
      margin-bottom: 15px

  &__line
    max-width: 69px
    margin-bottom: 14px
    +max($bp-sm)
      margin-bottom: 11px
    img
      display: block
      width: 100%

  &__text
    color: $dark-green
    font-size: 16px
    font-weight: 400
    line-height: 1.6
    +max($bp-sm)
      text-align: center
