.page404
  +container
  max-width: 815px
  text-align: center
  padding-top: 40px

  &__title
    color: $dark-green
    font-size: 24px
    font-weight: 900
    line-height: 1.22
    margin-bottom: 40px

  &__text
    font-size: 16px
    font-weight: 400
    line-height: 1.6
    margin-bottom: 40px

    h2
      font-weight: 700
      margin-bottom: 20px

    ul
      text-align: left
      list-style-type: disc
      list-style-position: outside
      padding-left: 20px

    li::marker
      color: $dark-green

    a
      color: $green
      text-decoration: none
      &:hover
        color: $green
        text-decoration: underline

